.home-bottom-section > h2 {
  text-align: left; 
  font-family: var(--font-cursive); 
  font-size: 4rem; 
  text-transform: none; 
}

@media screen and (max-width: 768px) {
  .home-bottom-section {
    margin-top: -4rem; 
  }

  .home-bottom-section > h2 {
    font-size: 3rem; 
    text-align: center;
  }
  
}

.main__nav {
  display: flex;
  flex-direction: row;
  gap: 48px; 
  margin-top: 1rem;  
}

.main__nav.after-event {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .main__nav {
    flex-direction: column;
    gap: 24px; 
  }

  .main__nav.after-event {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}

.main__buttons, .main__actions {
  display: flex;
  flex-direction: column;
  gap: 12px; 
  text-align: center;
  text-transform: uppercase; 
}

.main__label {
  font-size: 20px; 
  text-align: left; 
  color: var(--secondary-dark); 
}

@media screen and (max-width: 768px) {
  .main__buttons {
    gap: 8px; 
  }
}

.wine-info-btn {
  width: 350px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: var(--secondary-med);
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: background 0.2s;
}

.food-info-btn {
  width: 350px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: var(--secondary-med);
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: background 0.2s;
}

@media screen and (max-width: 768px) {
  .wine-info-btn, .food-info-btn {
    width: 100%;  
  }
}

.main__actions {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .main__actions {
    gap: 8px; 
  }
}

.main__actions > .send-email-btn {
  width: 350px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: var(--secondary-med);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: background 0.2s;
  justify-content: space-evenly;
}

.nav-text.small {
  text-align: center;
}

.nav-label.small {
  text-transform: uppercase;
  color: white; 
  font-family: var(--font-body);
  font-size: 0.9rem; 
}

@media screen and (max-width: 768px) {
  .main__actions > .send-email-btn {
    width: 100%;
  }
}

.photo-album-btn {
  width: 350px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: var(--secondary-med);
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: background 0.2s;
}

.google-photos-icon {
  width: 12px;
  height: 12px;
  margin-right: 8px;
}

@media screen and (max-width: 768px) {
  .photo-album-btn {
    width: 100%;
  }
}